<html>
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>gSchool</h1>
    <p>Your life, organized</p>
    <!--<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>-->
  </div>
</div>

  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <img alt="Panel1" class="img-responsive" src="/assets/panel1-aea0ea3eb708ed79764aad643e3bf325.jpg">
      <h2>Tasks</h2>
      <p>Grouped by projects and lists, just the way you like'em</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <img alt="Panel2" class="img-responsive" src="/assets/panel2-ce001944b27072c4d01aa42433696585.jpg">
      <h2>Documents</h2>
      <ul>
        <li>Upload</li>
        <li>Comment</li>
        <li>Revise</li>
      </ul>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <img alt="Panel3" class="img-responsive" src="/assets/panel3-860beaed3d247c6bfc6acf8780bfd279.jpg">
      <h2>Comments</h2>
      <ul>
        <li>Comment on tasks and documents</li>
        <li>Get email notifications</li>
      </ul>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
  </div>

<img src="http://www2.mcachicago.org/wp-content/uploads/2014/02/b21261aladdinsane-cropped-975x731.jpg" />
<%= image_tag('http://www2.mcachicago.org/wp-content/uploads/2014/02/b21261aladdinsane-cropped-975x731.jpg') %>
<!-- <%= image_tag('') %> are opening/closing ruby tags in HTML.erb -->
</html>
